<div class="container">
    <p-table [value]="products.data" styleClass="p-datatable-striped mt-8" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <div class="table-header">
                    List of Product Category
                </div>
                <button class="btn btn-submit" (click)="openDialog()"><i class="bi bi-plus-lg"></i> ADD</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th>Photo</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>
                    <img *ngIf="product.fileId !== null" src="http://localhost:5000/files/{{product.fileId}}" alt=""
                        width="80" height="60">
                    <img *ngIf="product.fileId === null" src="../../../../assets/images/unavailable.png" alt=""
                    width="60" height="60">
                </td>
                <td>{{product.productName}}</td>
                <td>{{product.categoryName}}</td>
                <td>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="product.isActive" [binary]="true" inputId="binary" [disabled]="true">
                        </p-checkbox>
                        <label for="binary" *ngIf="product.isActive === true">Active</label>
                        <label for="binary" *ngIf="product.isActive === false">Not Active</label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-submit me-2" (click)="addPhoto(product.id)" pTooltip="Gallery"
                        tooltipPosition="bottom" [showDelay]="1000">
                        <i class="bi bi-camera-fill"></i>
                    </button>
                    <button type="button" class="btn btn-submit me-2" pTooltip="Edit" tooltipPosition="bottom"
                        [showDelay]="1000" (click)="editProduct(product)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="productDialog" [style]="{width: '550px'}" header="Add Product" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <form class="field grid " (ngSubmit)="submit()" ngNativeValidate>
                <div class="mb-3 md:col-6">
                    <label for="name">Product Name<span class="text-red-500">*</span></label>
                    <input type="text" class="" pInputText id="name" name="name" [(ngModel)]="product.productName"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.productName}" />
                    <small class="p-error block" *ngIf="submitted && !product.productName">Product Name is
                        required.</small>
                </div>
                <div class="mb-3 md:col-6">
                    <label for="price">Price<span class="text-red-500">*</span></label>
                    <p-inputNumber [required]="true" [(ngModel)]="product.price" name="price" mode="currency"
                        inputId="currency-indonesia" currency="IDR" currencyDisplay="code" locale="en-ID" >
                    </p-inputNumber>
                    <small class="p-error block" *ngIf="submitted && !product.price">Price is
                        required.</small>
                </div>
                <div class="mb-3 md:col-6">
                    <label for="category" class="block">Category<span class="text-red-500">*</span></label>
                    <p-dropdown [required]="true" [options]="categories.data" [(ngModel)]="product.categoryId"
                        placeholder="Select Category" optionLabel="category" id="category" optionValue="id"
                        name="category" [showClear]="true">
                        <ng-template pTemplate="item" let-categories>
                            <div>
                                {{categories.category}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="mb-3 md:col-6">
                    <label for="tags">Tags</label>
                    <input type="text" class="" pInputText id="tags" name="tags" [(ngModel)]="product.tags" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.tags}" />
                    <small class="p-error block" *ngIf="submitted && !product.tags">Product Name is
                        required.</small>
                </div>
                <div class="mb-3 md:col-12">
                    <label for="description">Description<span class="text-red-500">*</span></label>
                    <textarea class="" pInputTextarea id="description" name="description"
                        [(ngModel)]="product.description" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.description}"></textarea>
                    <small class="p-error block" *ngIf="submitted && !product.description">Description is
                        required.</small>
                </div>
                <div class="md:col-6" *ngIf="product.isActive !== undefined">
                    <label for="isActive" class="block">Active</label>
                    <p-checkbox [(ngModel)]="product.isActive" [binary]="true" inputId="binary" name="isActive">
                    </p-checkbox>
                    <small class="p-error block" *ngIf="submitted && !product.isActive">Active is required.</small>
                </div>
            </form>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text text-danger"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [style]="{color: '#6C5ECF'}"
                (click)="submit()"></button>
        </ng-template>
    </p-dialog>
</div>