<div class="container">
    <p-table [value]="roles.data" styleClass="p-datatable-striped mt-8" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <div class="table-header">
                    List of Roles
                </div>
                <button class="btn btn-submit" routerLink="/roles/create"><i class="bi bi-plus-lg"></i> ADD</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th>Role Type</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{role.roleType}}</td>
                <td>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="role.isActive" [binary]="true" inputId="binary" [disabled]="true">
                        </p-checkbox>
                        <label for="binary" *ngIf="role.isActive === true">Active</label>
                        <label for="binary" *ngIf="role.isActive === false">Not Active</label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-submit me-2">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-remove" (click)="confirm(role.id)">
                        <i class="bi bi-trash-fill trash"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
    </p-confirmDialog>
</div>